@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900&display=swap);

* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

html,
body {
   height: 100vh;
}

body.no-scroll {
   overflow: hidden;
}

body {
   color: #ffffff;
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
   font-family: "Poppins", sans-serif;
   font-size: inherit;
}

button {
   cursor: pointer;
   color: inherit;
}

a {
   color: inherit;
   text-decoration: none;
}

ul li {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

.bottom-line__row,
.top-line__row,
.collapse__row {
   display: flex;
   justify-content: space-between;
}

html,
body {
   background: #3D054A;
   scroll-behavior: smooth;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.wrapper>main {
   flex: 1 1 auto;
}

.container {
   max-width: 95%;
   margin: 0 auto;
   padding: 0 2.5%;
}

.header {
   background-color: #2B0D34;
   padding: 30px 0;
}

.header__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-weight: 700;
   font-size: 50px;
   line-height: 120%;
   color: #F6F6F6;
   text-transform: uppercase;
}

.logo span {
   color: #E05BFF;
}

.header__logo {
   margin-right: 20px;
   animation: logo 3s ease-in-out infinite;
   transition: all 0.8s ease;
}

.header__logo:hover {
   animation-play-state: paused;
   text-shadow: rgba(225, 91, 255, 0.6196078431) 0 0 50px;
}

@keyframes logo {
   from {
      transform: scale(1);
   }

   50% {
      transform: scale(1.05);
   }

   to {
      transform: scale(1);
   }
}

.header__menu-burger {
   display: none;
}

.header__navigation {
   margin-right: -50px;
}

.navigation__list {
   display: flex;
   justify-content: flex-end;
}

.btn__canceled {
   display: none;
}

.navigation__item {
   border-radius: 28px;
   border: 2px solid rgba(225, 91, 255, 0);
   transition: all 0.4s ease;
   margin-right: 10px;
}

.navigation__item a {
   display: inline-block;
   padding: 10px 25px;
   font-size: 14px;
}

.navigation__item.active {
   border: 2px solid #E05BFF;
   border-radius: 28px;
}

.navigation__item:hover {
   border: 2px solid #E05BFF;
}

.navigation__item:last-child {
   margin-right: 0;
}

.page__characters {
   padding: 0px 0px 70px 0px;
   max-width: 100%;
}

.characters__content {
   display: flex;
   justify-content: space-between;
}

.characters__info {
   text-align: center;
   flex: 0 1 50%;
   padding: 110px 0px 0px 0px;
   text-transform: uppercase;
   margin-left: 5%;
}

.info__title {
   font-weight: 700;
   font-size: 50px;
   line-height: 140%;
   margin-bottom: 20px;
}

.info__text {
   max-width: 430px;
   margin: 0 auto;
   font-size: 16px;
   line-height: 200%;
   color: #FFE5FF;
   margin-bottom: 37px;
}

.info__items {
   text-align: start;
}

.info__item {
   display: flex;
   align-items: center;
}

.info__item:not(:last-child) {
   margin-bottom: 40px;
}

.item__icon {
   min-width: 70px;
   height: 70px;
   border: 2px solid #E05BFF;
   border-radius: 50%;
   margin-left: 30px;
   margin-right: 20px;
}

.item__icon_gears {
   background: url("../img/mechanism_icon.svg") center no-repeat;
   background-size: 70%;
}

.item__icon_deal {
   background: url("../img/deal_icon.svg") no-repeat;
   background-position: center 10px;
   background-size: 70%;
}

.item__text {
   font-weight: 700;
   font-size: 18px;
   line-height: 38px;
}

.item__subtext {
   font-weight: 500;
   line-height: 30px;
}

.page__img {
   flex: 0 1 auto;
}

.page__img img {
   width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: 35px 77px;
   object-position: 35px 77px;
   overflow: visible;
}

.page__offer {
   padding: 0px 0px 100px 0px;
}

.subtitle {
   font-weight: 600;
   font-size: 30px;
   line-height: 140%;
   color: #E05BFF;
}

.offer__subtitle {
   text-align: center;
}

.offer__title {
   margin-bottom: 50px;
}

.title {
   text-align: center;
   font-weight: 800;
   font-size: 60px;
   line-height: 140%;
}

.offer__cards {
   display: flex;
   justify-content: space-between;
}

.offer__card {
   text-transform: uppercase;
   box-sizing: border-box;
   flex: 0 1 24%;
   padding: 50px 0 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   border: 3px solid rgba(255, 0, 0, 0);
   border-radius: 20px;
   transition: all 0.4s ease;
}

.offer__card:hover {
   border: 3px solid #E05BFF;
}

.offer__card:hover .card__btn {
   box-shadow: 0 0 40px rgba(255, 229, 255, 0.3058823529);
   transform: scale(0.8);
}

.offer__card:hover .card__btn_menu {
   background: url("../img/offer/menu_icon.svg") center/50% no-repeat;
}

.offer__card:hover .card__btn_setting {
   background: url("../img/offer/setting_icon.svg") center/50% no-repeat;
}

.offer__card:hover .card__btn_support {
   background: url("../img/offer/support_icon.svg") center/50% no-repeat;
}

.offer__card:hover .card__btn_qr-code {
   background: url("../img/offer/qr_code_icon.svg") center/50% no-repeat;
}

.card__btn {
   height: 130px;
   min-width: 130px;
   border: 2px solid #FFE5FF;
   box-shadow: 0 0 120px rgba(255, 229, 255, 0.431372549);
   border-radius: 50%;
   margin-bottom: 30px;
   transition: all 0.6s ease;
   animation: shadow-btn 2s infinite alternate;
}

@keyframes shadow-btn {
   0% {
      box-shadow: 0 0 100px rgba(255, 229, 255, 0.431372549);
   }

   50% {
      box-shadow: 0 0 60px rgba(255, 229, 255, 0.431372549);
   }

   100% {
      box-shadow: 0 0 120px rgba(255, 229, 255, 0.431372549);
   }
}

.card__btn_menu {
   background: url("../img/offer/menu_icon.svg") center/50% no-repeat, radial-gradient(ellipse at center, rgb(95, 11, 120) 0%, rgb(107, 5, 138) 49%, rgb(171, 99, 189) 100%);
}

.card__btn_setting {
   background: url("../img/offer/setting_icon.svg") center/50% no-repeat, radial-gradient(ellipse at center, rgb(95, 11, 120) 0%, rgb(107, 5, 138) 49%, rgb(171, 99, 189) 100%);
}

.card__btn_support {
   background: url("../img/offer/support_icon.svg") center/50% no-repeat, radial-gradient(ellipse at center, rgb(95, 11, 120) 0%, rgb(107, 5, 138) 49%, rgb(171, 99, 189) 100%);
}

.card__btn_qr-code {
   background: url("../img/offer/qr_code_icon.svg") center/50% no-repeat, radial-gradient(ellipse at center, rgb(95, 11, 120) 0%, rgb(107, 5, 138) 49%, rgb(171, 99, 189) 100%);
}

.card__text {
   width: 225px;
   font-weight: 800;
   font-size: 20px;
   line-height: 40px;
   margin-bottom: 30px;
   flex: 1 1 auto;
}

.card__arrow {
   transition: all 0.4s ease;
   display: inline-block;
}

.arrow {
   border: 2px solid #E05BFF;
   min-width: 60px;
   height: 60px;
   border-radius: 50%;
   background: url("../img/right-arrow.svg") center no-repeat;
   background-size: 25px auto;
}

.card__arrow:hover {
   background-color: #E05BFF;
   box-shadow: 0 0 50px rgba(225, 91, 255, 0.7176470588);
   transform: translateY(10px);
}

.card__arrow:active {
   background-color: #bb4ed4;
}

.page__slider-preview {
   margin-bottom: 80px;
}

.slider-preview__row {
   display: flex;
   justify-content: space-between;
}

.slider-preview__nav {
   flex: 0 1 240px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   margin-right: 10px;
}

.slider-preview__nav span {
   display: inline-block;
   font-weight: 700;
   font-size: 50px;
   line-height: 120%;
   color: #E05BFF;
   margin-bottom: 15px;
}

.slider-preview__nav p {
   max-width: 200px;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 20px;
   line-height: 120%;
}

.slider-preview__buttons {
   display: inline-block;
   transform: translateY(-70px);
}

.slick-arrow {
   display: inline-block;
   border: 2px solid #E05BFF;
   width: 65px;
   height: 65px;
   border-radius: 50%;
   position: relative;
   transition: all 0.5s ease;
   font-size: 0;
}

.slick-arrow:hover {
   transform: scale(1.2);
   border: 2px solid #FFE5FF;
   box-shadow: 0 0 50px rgba(255, 229, 255, 0.3529411765);
}

.slick-arrow:active {
   transition: transform 0.1s ease;
   transform: scale(1.12);
}

.slick-arrow.slick-prev {
   background: url("../img/left_arrow.svg") center/30px 30px no-repeat;
}

.slick-arrow.slick-prev:hover {
   background: url("../img/left_arrow.svg") center/30px 30px no-repeat, radial-gradient(ellipse at center, rgb(95, 11, 120) 0%, rgb(107, 5, 138) 49%, rgb(171, 99, 189) 100%);
}

.slick-arrow.slick-next {
   background: url("../img/right-arrow.svg") center/30px 30px no-repeat;
}

.slick-arrow.slick-next:hover {
   background: url("../img/right-arrow.svg") center/30px 30px no-repeat, radial-gradient(ellipse at center, rgb(95, 11, 120) 0%, rgb(107, 5, 138) 49%, rgb(171, 99, 189) 100%);
}

.slick-arrow:not(:last-child) {
   margin-right: 20px;
}

.slider-preview__body {
   flex: 0 1 955px;
   overflow: hidden;
}

.body__content {
   margin-bottom: 5px;
}

.body__title {
   width: 800px;
   font-weight: 800;
   font-size: 60px;
   line-height: 120%;
   margin-bottom: 10px;
}

.body__text {
   font-size: 20px;
   line-height: 180%;
   position: relative;
   max-width: 660px;
   padding-bottom: 48px;
}

.body__text::before {
   content: "";
   width: 200px;
   height: 10px;
   background: #FFFFFF;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 0;
}

.slider-preview__pagination {
   margin-left: 85px;
}

.slick-dots {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 0;
   height: 100%;
}

.slick-dots li {
   display: inline-block;
   width: 10px;
   height: 10px;
   background: #FFFFFF;
   border-radius: 50%;
   position: relative;
   cursor: pointer;
}

.slick-dots li::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 90px;
   height: 10px;
   background: #E05BFF;
   border-radius: 5px;
   transform: scale(0);
   transform-origin: right;
   transition: transform 0.4s ease-in-out;
}

.slick-dots li.slick-active::before {
   transform: scale(1);
   transform-origin: right;
}

.slider-achievements__article {
   background-color: #2B0D34;
   border-radius: 50px;
   padding: 60px 60px;
   position: relative;
   margin-bottom: 80px;
}

.slider-achievements__row {
   display: flex;
   justify-content: space-between;
}

.slider-achievements__body {
   flex: 0 1 75%;
   overflow: hidden;
}

.slider-achievements__subtitle {
   margin-bottom: 20px;
}

.slider-achievements__title {
   max-width: 850px;
   font-weight: 800;
   font-size: 40px;
   line-height: 140%;
   margin-bottom: 35px;
}

.link {
   width: 240px;
   height: 75px;
   background: rgba(224, 91, 255, 0.4);
   border: 2px solid #E05BFF;
   border-radius: 45px;
   text-align: center;
   line-height: 75px;
}

.link a {
   display: inline-block;
   width: 220px;
   height: 55px;
   background: #E05BFF;
   border-radius: 32px;
   font-weight: 700;
   font-size: 16px;
   color: #FFFFFF;
   line-height: 59px;
   transition: all 0.5s ease;
}

.link a:hover {
   background: rgba(185, 74, 210, 0.8784313725);
}

.slider-achievements__counter {
   height: -moz-fit-content;
   height: fit-content;
   border: 2px solid #680283;
   border-radius: 35px;
   padding: 20px 35px;
   font-weight: 700;
   font-size: 20px;
   line-height: 120%;
   color: #FFE5FF;
   display: flex;
}

.slider-achievements__counter span::before {
   content: "/";
   margin: 0 10px 0 8px;
   color: #c26dd7;
}

.slider-achievements__buttons {
   position: absolute;
   bottom: 80px;
   right: 60px;
}

.blog__title {
   margin-bottom: 80px;
}

.blog__dropdown {
   margin-bottom: 50px;
}

.dropdown__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   background-color: #64027B;
   border-radius: 20px;
}

.dropdown__item {
   flex: 0 1 20%;
   text-align: center;
   font-weight: 600;
   font-size: 20px;
   line-height: 120%;
   padding: 60px 0;
   cursor: pointer;
   position: relative;
   box-sizing: border-box;
   transition: all 0.4s ease;
}

.dropdown__item.active img {
   -o-object-position: 3px 0;
   object-position: 3px 0;
   transform: rotate(90deg);
}

.dropdown__item img {
   width: 22px;
   -o-object-position: 0 3px;
   object-position: 0 3px;
   transition: all 0.4s ease;
}

.dropdown__item:hover {
   color: rgba(255, 255, 255, 0.7137254902);
}

.dropdown__item.active:hover {
   color: inherit;
}

.dropdown__item.active::before {
   content: "";
   width: 3px;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #E05BFF;
   box-shadow: 0 0 10px 5px #E05BFF;
   border-radius: 10px;
   animation: shadow-pulse 2.5s infinite alternate;
}

.dropdown__item.active::after {
   content: "";
   width: 3px;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   background-color: #E05BFF;
   box-shadow: 0 0 10px 5px #E05BFF;
   border-radius: 10px;
   animation: shadow-pulse 2.5s infinite alternate;
}

@keyframes shadow-pulse {
   0% {
      box-shadow: 0 0 10px 5px rgba(225, 91, 255, 0.367);
   }

   50% {
      box-shadow: 0 0 20px 5px rgba(225, 91, 255, 0.878);
   }

   100% {
      box-shadow: 0 0 10px 5px rgba(225, 91, 255, 0.504);
   }
}

.collapse {
   display: none;
   overflow: hidden;
}

.collapse .active {
   display: block;
}

.blog__collapse {
   padding-top: 60px;
   display: none;
}

.collapse__body {
   flex: 0 0 30%;
   margin-left: 8%;
}

.collapse__subtitle {
   font-weight: 600;
   font-size: 30px;
   line-height: 120%;
   color: #E05BFF;
   margin-bottom: 10px;
}

.collapse__title {
   font-weight: 800;
   font-size: 65px;
   line-height: 120%;
   margin-bottom: 20px;
}

.collapse__text {
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 40px;
}

.collapse__img {
   flex: 0 1 auto;
}

.collapse__img img {
   width: 100%;
   transform: translateY(-80px);
   overflow: visible;
   position: relative;
   z-index: -5;
}

.footer {
   padding: 40px 0 20px;
   border-top: 2px solid rgba(255, 255, 255, 0.309804);
}

.footer__top-line {
   margin-bottom: 30px;
}

.top-line__row {
   align-items: center;
}

.top-line__list {
   display: flex;
}

.top-line__item {
   box-sizing: border-box;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 179%;
}

.top-line__item:not(:last-child) {
   margin-right: 10px;
}

.top-line__item a {
   display: inline-block;
   padding: 10px 25px;
   line-height: 120%;
   border: 2px solid rgba(225, 91, 255, 0);
   border-radius: 28px;
   transition: all 0.6s ease;
}

.top-line__item a:hover {
   border: 2px solid #E05BFF;
   border-radius: 22px;
}

.top-line__item a._active {
   border: 2px solid #E05BFF;
   border-radius: 22px;
}

.social__item {
   display: inline-block;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 2px solid #7646A2;
   line-height: 35px;
   text-align: center;
   transition: all 0.5s ease;
}

.social__item:not(:last-child) {
   margin-right: 5px;
}

.social__item:hover {
   transform: scale(1.2);
   background: linear-gradient(to bottom, rgb(238, 157, 255) 0%, rgb(238, 157, 255) 4%, rgb(142, 47, 164) 100%);
}

.social__item:hover span {
   line-height: 25px;
   display: inline-block;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background-color: #fff;
}

.social__item:hover #fb path {
   fill: #5368E7;
}

.social__item:hover #inst path {
   fill: #f928d5;
}

.social__item:hover #twitter path {
   fill: #1da1f3;
}

.social__item:hover #youtube path {
   fill: red;
}

.bottom-line__row {
   font-weight: 500;
   font-size: 13px;
   line-height: 192%;
}

.bottom-line__politics {
   text-transform: capitalize;
}

.bottom-line__politics a {
   display: inline-block;
}

.bottom-line__politics a:not(:last-child) {
   margin-right: 10px;
}

.bottom-line__politics a:hover {
   text-decoration: underline;
}

.bottom-line__copy {
   position: relative;
   left: -50px;
}

.bottom-line__numbers a {
   display: inline-block;
}

.bottom-line__numbers a:not(:last-child) {
   margin-right: 10px;
}

.bottom-line__numbers a:hover {
   text-decoration: underline;
}

@media (min-width: 1440px) {
   .container {
      max-width: 1368px;
      margin: 0 auto;
   }

   .page__characters {
      max-width: 1368px;
      margin: 0 auto;
   }

   .characters__info {
      margin-left: 1%;
   }

   .blog__collapse {
      max-width: 1510px;
      margin: 0 auto;
   }
}

@media (max-width: 1400px) {
   .info__title {
      font-size: 35px;
   }
}

@media (max-width: 1370px) {
   .top-line__nav {
      display: none;
   }
}

@media (max-width: 1200px) {
   .dropdown__item {
      flex: 0 1 50%;
      padding: 15px 0;
      border-bottom: 2px solid #2B0D34;
   }

   .dropdown__item.active::before,
   .dropdown__item.active::after {
      content: "";
      width: 0;
      height: 0;
      box-shadow: 0 0 0 0 rgba(225, 91, 255, 0);
      animation: none;
   }

   .dropdown__item:nth-child(5) {
      flex: 0 1 100%;
      border-bottom: none;
      border-right: none;
   }

   .dropdown__item:nth-child(odd) {
      border-right: 2px solid #2B0D34;
   }

   .dropdown__item:nth-child(5) {
      flex: 0 1 100%;
      border-bottom: none;
      border-right: none;
   }

   .blog__collapse {
      padding-top: 30px;
   }

   .collapse__img img {
      transform: translateY(-60px);
   }

   .collapse__title {
      font-size: 55px;
   }

   .collapse__text {
      font-size: 16px;
   }

   .footer {
      padding: 40px 0 50px;
   }

   .footer__bottom-line {
      position: relative;
   }

   .bottom-line__copy {
      position: absolute;
      bottom: -40px;
      left: 37%;
   }
}

@media (max-width: 1024px) {
   .header__logo {
      display: inline-block;
   }

   .header__menu-burger {
      display: inline-flex;
      width: 35px;
   }

   .header__menu-burger img {
      width: 100%;
   }

   .header__content {
      display: block;
      width: 100%;
   }

   .header__menu-burger {
      display: inline-block;
      width: 35px;
      position: absolute;
      top: 40px;
      right: 50px;
   }

   .header__menu-burger img {
      width: 100%;
   }

   .header__navigation {
      display: none;
   }

   .header__navigation.open {
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.529);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
   }

   .navigation__list {
      display: inline-block;
      position: absolute;
      top: 0;
      right: -300px;
      padding: 105px 60px 0;
      background-color: #2B0D34;
      height: 100%;
      transition: all 0.8s ease;
   }

   .navigation__list.open {
      right: 0;
   }

   .btn__canceled {
      display: block;
      position: absolute;
      top: 30px;
      right: 40px;
      z-index: 5;
   }

   .btn__canceled img {
      width: 35px;
   }

   .navigation__item {
      text-align: center;
      margin-bottom: 10px;
      margin-right: 0;
   }

   .page__characters {
      padding: 0 0 0;
   }

   .characters__content {
      flex-direction: column;
   }

   .characters__info {
      max-width: 500px;
      margin: 0 auto;
      padding: 60px 20px 0;
   }

   .page__img img {
      -o-object-position: 25px 25px;
      object-position: 25px 25px;
   }

   .offer__cards {
      flex-wrap: wrap;
   }

   .offer__card {
      flex: 0 1 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 20px;
      margin-bottom: 10px;
   }

   .offer__card:last-child {
      margin-bottom: 0;
   }

   .card__btn {
      margin-bottom: 0;
      margin-right: 20px;
   }

   .card__text {
      margin-bottom: 0;
      margin-right: 20px;
      width: auto;
   }

   .card__btn_support {
      min-width: 130px;
   }

   .slider-preview__row {
      display: block;
      position: relative;
      overflow: hidden;
   }

   .slider-preview__nav {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
   }

   .slider-preview__nav p {
      max-width: 100%;
   }

   .slider-preview__nav .slick-list {
      width: 90%;
   }

   .slider-preview__body {
      margin-bottom: 20px;
      padding-right: 85px;
   }

   .slider-preview__pagination {
      margin-left: 70px;
      height: 100%;
      padding: 10px 0;
      position: absolute;
      top: 0;
      right: 0;
   }

   .slider-preview__buttons {
      transform: translateY(0);
   }

   .body__title {
      font-size: 50px;
      width: 100%;
   }

   .body__text {
      font-size: 16px;
   }

   .slick-dots li::before {
      width: 80px;
   }

   .slider-achievements__row {
      display: block;
      position: relative;
   }

   .subtitle {
      font-size: 25px;
   }

   .slider-achievements__title {
      font-size: 35px;
   }

   .slider-achievements__counter {
      display: inline-flex;
      padding: 18px 35px;
      position: absolute;
      top: -20px;
      right: -12px;
   }

   .slider-achievements__buttons {
      bottom: 63px;
      right: 53px;
   }
}

@media (max-width: 1020px) {
   .blog__collapse {
      padding-top: 0;
      padding-bottom: 30px;
   }

   .collapse__row {
      flex-direction: column;
   }

   .collapse__img {
      display: none;
   }

   .collapse__text {
      max-width: 550px;
   }
}

@media (max-width: 769px) {
   .bottom-line__copy {
      position: absolute;
      bottom: -40px;
      left: 32%;
   }
}

@media (max-width: 768px) {
   .slider-preview__pagination {
      display: none;
   }

   .slider-preview__body {
      margin-bottom: 20px;
      padding-right: 0;
   }

   .slider-achievements__article {
      margin: 0 -50px 60px;
      border-radius: 0;
   }
}

@media (max-width: 630px) {
   .info__title {
      font-size: 28px;
   }

   .info__text {
      font-size: 14px;
   }

   .item__text {
      font-size: 16px;
   }

   .item__subtext {
      font-size: 14px;
   }

   .item__icon {
      min-width: 60px;
      height: 60px;
      margin-left: 0;
   }

   .item__icon_deal {
      background-position: center 6px;
   }

   .header__menu-burger {
      right: 20px;
      top: 32px;
   }

   .logo {
      font-size: 35px;
   }

   .subtitle {
      font-size: 22px;
   }

   .title {
      font-size: 40px;
   }

   .offer__title {
      margin-bottom: 30px;
   }

   .offer__card {
      padding: 20px 10px 20px 0;
   }

   .card__btn {
      height: 100px;
      min-width: 100px;
   }

   .card__text {
      font-size: 16px;
      text-align: left;
   }

   .arrow {
      min-width: 45px;
      height: 45px;
      background-size: 19px auto;
   }

   .page__offer {
      padding: 0 0 50px;
   }

   .body__title {
      font-size: 40px;
   }

   .slider-preview__nav p {
      font-size: 18px;
   }

   .body__text {
      padding-bottom: 40px;
   }

   .slick-arrow {
      width: 50px;
      height: 50px;
   }

   .slick-arrow.slick-prev {
      background: url("../img/left_arrow.svg") center/25px 30px no-repeat;
   }

   .slick-arrow.slick-prev:hover {
      background: url("../img/left_arrow.svg") center/25px 30px no-repeat, radial-gradient(ellipse at center, rgb(95, 11, 120) 0%, rgb(107, 5, 138) 49%, rgb(171, 99, 189) 100%);
   }

   .slick-arrow.slick-next {
      background: url("../img/right-arrow.svg") center/25px 30px no-repeat;
   }

   .slick-arrow.slick-next:hover {
      background: url("../img/right-arrow.svg") center/25px 30px no-repeat, radial-gradient(ellipse at center, rgb(95, 11, 120) 0%, rgb(107, 5, 138) 49%, rgb(171, 99, 189) 100%);
   }

   .slider-achievements__title {
      font-size: 26px;
   }

   .slider-achievements__subtitle {
      padding-right: 120px;
   }

   .slider-achievements__counter {
      font-size: 18px;
      padding: 11px 26px;
   }

   .link {
      width: 220px;
      height: 60px;
      line-height: 55px;
   }

   .link a {
      width: 200px;
      height: 40px;
      line-height: 39px;
   }

   .blog__dropdown {
      margin: 0 -35px 50px;
   }

   .dropdown__list {
      border-radius: 0;
   }

   .dropdown__item {
      font-size: 18px;
   }

   .slider-achievements__article {
      margin: 0 -50px 35px;
      border-radius: 0;
   }

   .blog__title {
      margin-bottom: 35px;
   }

   .collapse__subtitle {
      font-size: 22px;
   }

   .collapse__title {
      font-size: 40px;
   }

   .footer {
      padding: 20px 0 50px;
   }

   .bottom-line__politics a {
      display: block;
      margin-bottom: 5px;
   }

   .bottom-line__copy {
      position: absolute;
      bottom: -40px;
      left: 26%;
   }
}

@media (max-width: 440px) {
   .slider-achievements__article {
      padding: 40px 60px 90px;
   }

   .slider-achievements__counter {
      top: -10px;
   }

   .slider-achievements__buttons {
      bottom: 20px;
      right: 53px;
   }
}

@media (max-width: 435px) {
   .characters__info {
      padding: 40px 20px 0;
   }

   .page__img img {
      -o-object-position: 15px 25px;
      object-position: 15px 25px;
   }

   .subtitle {
      font-size: 20px;
   }

   .title {
      font-size: 35px;
   }

   .card__btn {
      height: 80px;
      min-width: 80px;
   }

   .offer__card {
      padding: 20px 10px 50px 0;
      position: relative;
   }

   .card__text {
      margin-right: 0;
   }

   .arrow {
      position: absolute;
      bottom: 5px;
      right: 5px;
   }
}

@media (max-width: 430px) {
   .bottom-line__copy {
      position: absolute;
      bottom: -40px;
      left: 15%;
   }
}

@media (max-width: 425px) {
   .dropdown__item {
      padding: 10px 0;
      flex: 0 1 100%;
      border-right: none;
   }

   .blog__collapse {
      margin-top: -20px;
   }

   .top-line__row {
      display: block;
   }

   .top-line__logo {
      margin-bottom: 10px;
   }

   .top-line__social {
      text-align: center;
   }

   .bottom-line__numbers a {
      display: block;
   }
}

@media (max-width: 375px) {
   .bottom-line__copy {
      position: absolute;
      bottom: -40px;
      left: 5%;
   }
}